/* CSS RESET */
html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

/* */

.app {
	width: 100vw;
	/* height: 100vh; */
}

form {
	margin: 0 auto;
	max-width: 40rem;

	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	color: #fff;
}
form.cold {
	background-image: linear-gradient(
			rgba(0, 110, 201, 0.3) 40%,
			rgba(0, 0, 0, 0.95)
		),
		url("./assets/cold-bg.jpg");
	background-size: cover;
	background-position: center;

	transition: all 0.5s ease-in;
}
form.warm {
	background-image: linear-gradient(
			rgba(177, 100, 0, 0.4) 40%,
			rgba(0, 0, 0, 0.95)
		),
		url("./assets/warm-bg.jpg");
	background-size: cover;
	background-position: center;
	transition: all 0.5s ease-in;
}
.search-box {
	width: 100%;
	text-align: center;
}
.search-box-input {
	width: 80%;
	font-size: 1.8rem;
	padding: 2rem;

	border: none;
	border-radius: 0 0 12px 12px;

	box-shadow: 0 4px 0 rgba(80, 80, 80, 0.692);
	background-color: rgba(255, 255, 255, 0.8);
	color: #727272;
}
.weather-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	margin-top: 6rem;
}
.weather-details-location {
	font-size: 3.6rem;
	text-shadow: 2px 2px 0 rgba(49, 49, 49, 0.692);
}
.weather-details-date {
	font-size: 2rem;
	font-weight: 400;
	text-shadow: 2px 2px 0 rgba(49, 49, 49, 0.5);
}
.weather-details-temp {
	background-color: rgba(255, 255, 255, 0.3);
	font-size: 5.4rem;
	font-weight: 800;
	padding: 3rem;

	border-radius: 20px;
	box-shadow: 2px 3px 2px rgba(49, 49, 49, 0.692);
	text-shadow: 2px 3px 0 rgba(49, 49, 49, 0.692);

	margin: 3rem 0;
}
.weather-details-forecast {
	font-size: 4.2rem;
	font-weight: 700;
}
